
* {
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.fade-in {
    animation: fadeIn 1s;
}

body {
    background-color: black;
    display: inline-block;
    text-align: center;
    display: inline-block;
    width: 98%;
    max-width: 1400px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.gallery {
    text-align: center;
    display: inline-block;
    width: 100%;
}

.pokadiv{
    display: inline-block;
    text-align: left;
    padding: 1%;
}

.pokacard{
    position: relative;
}

.pokadetails{
    position: relative;
    overflow: hidden;
    font-size: 14px;
    margin-top: -138%;
    margin-left: 3%;
    height: 322px;
    width: 232px;
    text-align: center;
    border-radius: 5%;
    border: rgba(0, 0, 0, 0.233) solid 10px;
    background-color: rgba(83, 82, 82, 0.856);
}

.txt{
    position: relative;
    padding: .25px;
    color: white;
}
